<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="instagram clone backend">
  <meta name="author" content="Eduardo Barbosa P. da Silva">
  <title>Instagram Clone Backend</title>

  <style>
    *, ::after, ::before {
      box-sizing: border-box;
    }

    body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 16px;
      color: #2d3436;
    }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>
