<main>
  <div>
    <h1 style="font-size: 18px">Hi {{username}},</h1>
    <p>Your reset password token is <strong style="color: #2e86de;">{{token}}</strong>.</p>
    <p>This token will expire at <strong style="color: #2e86de;">{{tokenExpiresAt}}</strong>, if token is already expired you need request another reset password.</p>
  </div>
</main>
